:root {
    --dark-grey: #3b3b3b;
    --dark-grey--hover: #626262;
    --dark-grey--active: #767676;

    --light-grey: #e5e5e5;

    --red: #D72323;

    --white: #ffffff;

    --outline-button-border: #cccccc;
    --outline-button-border--hovered: #999999;
    --outline-button-border--active: #6243e6;

    --outline-button-font--hovered: #6d4aff;

    --transparent-button-background--hovered: #f5f5f5;
    --transparent-button-background--active: #eae5ff;

    --input--active: #35CDFD;

    --black--opacity-08: rgba(0, 0, 0, 0.8);
    --black--opacity-05: rgba(0, 0, 0, 0.5);
    --black--opacity-03: rgba(0, 0, 0, 0.3);
    --black--opacity-005: rgba(0, 0, 0, 0.05);

    --transition-duration: 0.3s;
}
