.main {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;

    display: grid;
    grid-template-columns: auto 250px 1fr;

    @media (max-width: 992px) {
        grid-template-columns: 250px 1fr;

        & .top-bar {
            grid-area: span 2 / span 2;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.loading-block {
    margin: auto;
}