.company-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.company-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);

    &__header {
        font-weight: 700;
        line-height: 28px;
    }

    &__body {
        line-height: 32px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
